<main class="p-4">
  <app-carrossel></app-carrossel>

  <section id="categorias">
    <div class="categoria-grid d-flex flex-row p-3 justify-content-center">
      <app-card-categoria
        imageSrc="assets/smartphone.png"
        nomeCategoria="Celulares"
      ></app-card-categoria>
      <app-card-categoria
        imageSrc="assets/maquina-de-lavar.png"
        nomeCategoria="Eletro"
      ></app-card-categoria>
      <app-card-categoria
        imageSrc="assets/soccer-ball.png"
        nomeCategoria="Esportes"
      ></app-card-categoria>
      <app-card-categoria
        imageSrc="assets/guitarra-eletrica.png"
        nomeCategoria="Hobbies"
      ></app-card-categoria>
      <app-card-categoria
        imageSrc="assets/chair.png"
        nomeCategoria="Móveis"
      ></app-card-categoria>
      <app-card-categoria
        imageSrc="assets/de-outros.png"
        nomeCategoria="Outros"
      ></app-card-categoria>
    </div>
  </section>

  <section id="produtos-buscados">
    <div class="produtos-buscados-grid p-3 card">
      <h4 class="card-title">Itens mais buscados</h4>
      <div class="card-body d-flex flex-row">
        <app-card-produtos></app-card-produtos>
        <app-card-produtos></app-card-produtos>
        <app-card-produtos></app-card-produtos>
        <app-card-produtos></app-card-produtos>
      </div>
    </div>
  </section>
</main>

