body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  padding: 15px 20px;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header ul li a:hover {
  color: #ddd;
}

.hero {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  background-color: #f00;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.btn:hover {
  background-color: #c00;
}

.about, .products {
  padding: 50px 20px;
  text-align: center;
}

.about h2, .products h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.select-component{
  max-width: 300px;
  max-height: 50px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
