<div class="login-container">
  <form
    class="login-form"
    [formGroup]="formLogin"
    (ngSubmit)="logarUsuario()"
    novalidate
  >
    <h2>Acesse sua conta</h2>

    <div class="input-group input-group-lg mb-4">
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    @if(formLogin.get('email').hasError('email') &&
    formLogin.get('email').touched){
    <p>Por favor informe um email válido</p>
    }@else if(formLogin.get('email').hasError('required') &&
    formLogin.get('email').touched){
    <p>Email é <strong>obrigatório</strong></p>
    }

    <div class="input-group input-group-lg mb-4">
      <input
        class="form-control"
        type="password"
        id="senha"
        placeholder="Senha"
        formControlName="senha"
        required
      />
    </div>

    @if(formLogin.get('senha').hasError('required') &&
    formLogin.get('senha').touched){
    <p>Por favor informe uma senha válida</p>
    }

    <button type="submit" class="btn btn-lg btn-login">Login</button>
    <button
      (click)="criarContaUsuario()"
      type="button"
      class="btn btn-lg btn-cadastre mt-2"
    >
      Criar uma conta
    </button>
  </form>
</div>
