<nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EasyOrder</a>
    <button
      (click)="entrarPaginaInicial()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <div>
        <button (click)="entrarPaginaLogin()" class="btn btn-sm btn-outline-secondary me-5" type="button">
          Entrar
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-secondary btn-anuncie" type="button">
          Anuncie aqui
        </button>
      </div>
    </div>
  </div>
</nav>
